<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyCMS</title>
    <script src="jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/content-tools.css">
    <link rel="stylesheet" type="text/css" href="assets/editor.css">
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <style type="text/css">
      html,
      body {
        font-family: 'Work Sans', sans-serif;
      }
      #toolbar {
        background-color: #00BCD4;
      }
      #navbar {
        background-color: #00BCD4;
      }
      .sep1 {
        border-left: 1px solid #424242;
      }
      .sep2 {
        border-left: 5px solid #424242;
      }
      .publish {
        background-color: #F44336;
        color: #FFFFFF;
      }
      .newTab {
        background-color: #4CAF50;
        color: #FFFFFF;
      }
      .save {
        background-color: #FFC107;
        color: #FFFFFF;
      }
    </style>
  </head>
  <body>
    <section class="hero is-fullheight is-default is-bold">
      <div class="hero-head">
        <div id="admin-navbar">
          
        </div>
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="#">
                <strong>EasyCMS</strong>
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
					<span></span>
              <span></span>
              <span></span>
              </span>
            </div>
            <div class="navbar-menu" id="navbarMenu">
              <div class="navbar-end" id="navbarItem">
                <a class="navbar-item is-active">
                  Home
                </a>
                <a class="navbar-item">
                  About me
                </a>
              </div>
            </div>
            <p>
            </p>
          </div>
        </nav>
      </div>
      <div class="hero-body" id="web">
        <div data-editable="" data-name="header" class="container"><img alt="Change me!" class="align-right" data-ce-max-width="218" height="217" src="https://res.cloudinary.com/easycms/image/upload/v1518827669/vczyurisn61kly4vztvb.jpg" width="175">
<ul>
    <li class="has-text-left">
        Lorem ipsum dolor sit amet, consectetur <b>adipiscing</b> elit, sed do <b>eiusmod</b> <b>tempor incididunt</b> ut <i>labore</i> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <b>commodo</b> <i>consequat</i>. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </li>
</ul>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum posuere lacinia. <b>Nam </b>tortor augue, vehicula sed elementum id, pretium non ex. Proin quam ipsum, sodales vitae velit ac, commodo facilisis velit. Quisque commodo molestie neque, vel elementum felis commodo eu. Aliquam lectus ex, dignissim tempor dapibus vel, placerat vel sapien. Etiam molestie quam in eros sollicitudin placerat. Etiam augue neque, pretium et feugiat ac, feugiat a ligula. Aliquam eu maximus eros. Integer ut urna consequat, sagittis ante at, dignissim ligula. Sed vehicula purus eget vehicula sollicitudin. Curabitur fringilla arcu et ex varius, sit amet tristique nisl efficitur. Cras vel risus ut nulla maximus interdum sit amet ac arcu. Phasellus volutpat purus ac diam egestas, at iaculis massa semper. Proin pellentesque, purus in pretium mattis, purus nulla lacinia urna, vel suscipit arcu lectus non nibh.
</p>
<p>
    Fusce scelerisque lobortis erat, eu scelerisque eros posuere quis. Donec fermentum rhoncus elit nec volutpat. Suspendisse facilisis, urna et sodales molestie, erat massa convallis risus, non iaculis libero nibh nec neque. Vivamus euismod eros urna, eu interdum est cursus ac. Nam eget sapien sagittis nibh porta maximus. Vestibulum eu ultrices felis. Integer iaculis dui in est ullamcorper scelerisque. Nulla et fermentum nisl. Maecenas id mi eget tortor ullamcorper lobortis. Phasellus a porttitor metus, consequat consectetur felis. Proin nec placerat sapien, non sollicitudin velit. Nam at accumsan sem. Phasellus accumsan mauris nec tortor molestie tincidunt. Curabitur sed tellus suscipit, lobortis justo sed, hendrerit nibh. Integer ullamcorper lorem vel tortor interdum posuere. Nam massa nunc, egestas nec nulla id, fermentum accumsan ligula.
</p>
<p>
    Aenean id erat in augue cursus feugiat eget rhoncus neque. Nam commodo ut risus sed porttitor. Cras eu auctor est, in aliquet metus. Nullam efficitur dignissim elit, eu blandit sem pretium nec. Donec aliquet vestibulum tristique. Maecenas nunc massa, porttitor non sagittis laoreet, vulputate at mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer a consectetur dui. Maecenas facilisis fermentum ex vel pulvinar. Nunc semper non erat eget elementum. Aenean non posuere leo, vitae dapibus diam. Quisque pharetra aliquam euismod. Aliquam semper, purus sed lacinia interdum, mi nisi eleifend nulla, eu laoreet metus neque lacinia nulla. Integer mollis ultrices varius. Vivamus convallis sit amet orci eu sodales.
</p>
<p>
    Morbi id tortor sed lacus dictum scelerisque. Maecenas aliquet nunc vitae dictum fringilla. Donec ultricies sagittis nisl, id aliquet eros venenatis vitae. Etiam placerat orci tincidunt tellus tristique egestas. Quisque risus metus, volutpat vitae commodo eget, tristique tempor est. Ut semper ex et vehicula tincidunt. Nulla rutrum tortor ac metus molestie, in venenatis diam porttitor. Integer vitae euismod metus. Mauris vitae bibendum diam.
</p>
<p>
    Nulla a dolor ac tortor sollicitudin malesuada. Cras quis lorem viverra, volutpat nunc in, lobortis ligula. Nunc cursus eleifend lorem, sit amet facilisis est ultrices sed. Integer at tortor pulvinar, pulvinar orci ut, maximus magna. Fusce imperdiet, purus ut vestibulum cursus, erat nisi rutrum nisi, quis porta metus massa eu orci. Maecenas eget nulla venenatis ligula tempor volutpat. Nulla ultrices tempor volutpat. Aenean ac euismod mauris. Mauris placerat massa sed tortor hendrerit lacinia. Pellentesque tellus neque, semper et augue et, porta consectetur dui.
</p>
<img alt="Change me!" class="align-right" data-ce-max-width="220" height="125" src="https://res.cloudinary.com/easycms/image/upload/v1518827702/w7aockeytpwl9czzetxc.jpg" width="161">
<pre>#include &lt;iostream&gt;
int main() { 
  std::cout &lt;&lt; "Hello World!";
}<br></pre></div>
      </div>
      <div class="hero-foot">
        <div class="container">
          <div data-editable="" data-name="footer" class="has-text-centered">
            <p>
              I'm a footer! Change me!
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class="modal" id="savingPage">
      <div class="modal-background"></div>
      <div class="modal-content has-text-centered">
		    <img alt="Saving page" src="loader.gif">
      </div>
    </div>

    <div class="modal" id="newTabModal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Choose a name for the new tab</p>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="About me" id="tabName">
              <span class="icon is-small is-left">
				        <i class="fas fa-columns"></i>
				      </span>
            </p>
            <p class="help">Tip! Choose a small name</p>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" id="createTab">Create new tab</button>
          <button class="button modal-cancel">Cancel</button>
        </footer>
      </div>
    </div>
    <script src="assets/content-tools.js"></script>
    <script src="assets/editor.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="assets/custom.js"></script>













</body>
</html>