<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyCMS</title>
    <script src="jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/content-tools.css">
    <link rel="stylesheet" type="text/css" href="assets/editor.css">
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <style type="text/css">
      html,
      body {
        font-family: 'Work Sans', sans-serif;
      }
      #toolbar {
        background-color: #00BCD4;
      }
      #navbar {
        background-color: #00BCD4;
      }
      .sep1 {
        border-left: 1px solid #424242;
      }
      .sep2 {
        border-left: 5px solid #424242;
      }
      .publish {
        background-color: #F44336;
        color: #FFFFFF;
      }
      .newTab {
        background-color: #4CAF50;
        color: #FFFFFF;
      }
    </style>
  </head>
  <body>
    <section class="hero is-fullheight is-default is-bold">
		<div class="hero-head">
			<nav class="navbar" id="toolbar" role="navigation" aria-label="main navigation">
			  <div class="navbar-brand">
				<a class="navbar-item publish">
				  <strong>PUBLISH</strong>
				</a>
				<div class="sep1"></div>
				<a class="navbar-item newTab" id="newTab">
				  <strong><i class="fas fa-plus"></i> TAB</strong>
				</a>
				<div class="sep2"></div>
				<button class="button navbar-burger">
				  <span></span>
				  <span></span>
				  <span></span>
				</button>
			  </div>
			  <div class="navbar-end toolbar">
				<a custom-tool="bold" class="navbar-item custom-bold">
				  <i class="fas fa-bold"></i>
				</a>
				<a custom-tool="italic" class="navbar-item custom-italic">
				  <i class="fas fa-italic"></i>
				</a>
				<a custom-tool="link" class="navbar-item custom-link">
				  <i class="fas fa-link"></i>
				</a>
				<a custom-tool="heading" class="navbar-item custom-heading">
				  <i class="fas fa-heading"></i>
				</a>
				<a custom-tool="subheading" class="navbar-item custom-subheading">
				  <i class="fas fa-h-square"></i>
				</a>
				<a custom-tool="paragraph" class="navbar-item custom-paragraph">
				  <i class="fas fa-paragraph"></i>
				</a>
				<a custom-tool="preformatted" class="navbar-item custom-preformatted">
				  <i class="fas fa-code"></i>
				</a>
				<a custom-tool="align-left" class="navbar-item custom-align-left">
				  <i class="fas fa-align-left"></i>
				</a>
				<a custom-tool="align-center" class="navbar-item custom-align-center">
				  <i class="fas fa-align-center"></i>
				</a>
				<a custom-tool="align-right" class="navbar-item custom-align-right">
				  <i class="fas fa-align-right"></i>
				</a>
				<a custom-tool="justify" class="navbar-item custom-justify">
				  <i class="fas fa-align-justify"></i>
				</a>
				<a custom-tool="unordered-list" class="navbar-item custom-unordered-list">
				  <i class="fas fa-list-ul"></i>
				</a>
				<a custom-tool="ordered-list" class="navbar-item custom-ordered-list">
				  <i class="fas fa-list-ol"></i>
				</a>
				<a custom-tool="table" class="navbar-item custom-table">
				  <i class="fas fa-table"></i>
				</a>
				<a custom-tool="indent" class="navbar-item custom-indent">
				  <i class="fas fa-indent"></i>
				</a>
				<a custom-tool="unindent" class="navbar-item custom-unindent">
				  <i class="fas fa-outdent"></i>
				</a>
				<a custom-tool="line-break" class="navbar-item custom-line-break"></a>
				<a custom-tool="image" class="navbar-item custom-image">
				  <i class="fas fa-image"></i>
				</a>
				<a custom-tool="video" class="navbar-item custom-video">
				  <i class="fas fa-video"></i>
				</a>
				<a custom-tool="undo" class="navbar-item custom-undo">
				  <i class="fas fa-undo"></i>
				</a>
				<a custom-tool="redo" class="navbar-item custom-redo">
				  <i class="fas fa-redo"></i>
				</a>
				<a custom-tool="remove" class="navbar-item custom-remove">
				  <i class="fas fa-trash-alt"></i>
				</a>
			  </div>
			</nav>
			<nav class="navbar">
			  <div class="container">
				<div class="navbar-brand">
				  <a class="navbar-item" href="#">
					<strong>EasyCMS</strong>
				  </a>
				  <span class="navbar-burger burger" data-target="navbarMenu">
					<span></span>
				  <span></span>
				  <span></span>
				  </span>
				</div>
				<div class="navbar-menu" id="navbarMenu">
				  <div class="navbar-end" id="navbarItem">
					<a class="navbar-item is-active">
					  Home
					</a>
					<a class="navbar-item">
					  About me
					</a>
				  </div>
				</div>
				<p>
				</p>
			  </div>
			</nav>
		</div>
      <div class="hero-body">
        <div data-editable="" data-name="header" class="container">
          <img alt="Change me!" class="align-left" data-ce-max-width="218" height="217" src="https://res.cloudinary.com/easycms/image/upload/v1518827669/vczyurisn61kly4vztvb.jpg" width="175">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </p>
          <img alt="Change me!" class="align-right" data-ce-max-width="220" height="125" src="https://res.cloudinary.com/easycms/image/upload/v1518827702/w7aockeytpwl9czzetxc.jpg" width="161">
          <pre>#include &lt;iostream&gt;
int main() { 
  std::cout &lt;&lt; "Hello World!";
}<br></pre></div>
      </div>
      <div class="hero-foot">
        <div class="container">
          <div data-editable="" data-name="footer" class="has-text-centered">
            <p>
              I'm a footer! Change me!
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Choose a name for the new tab</p>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="About me" id="tabName">
              <span class="icon is-small is-left">
				  <i class="fas fa-columns"></i>
				</span>
            </p>
            <p class="help">Tip! Choose a small name</p>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" id="createTab">Create new tab</button>
          <button class="button modal-cancel">Cancel</button>
        </footer>
      </div>
    </div>
    <script src="assets/content-tools.js"></script>
    <script src="assets/editor.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:3000');
      $("#newTab").click(function() {
        $(".modal").addClass("is-active");
      });
      $(".modal-close").click(function() {
        $(".modal").removeClass("is-active");
      });
      $(".modal-background").click(function() {
        $(".modal").removeClass("is-active");
      });
      $(".modal-cancel").click(function() {
        $(".modal").removeClass("is-active");
      });
      $("#createTab").click(function() {
        $(".modal").removeClass("is-active");
        socket.emit('createTab', {
          name: $('#tabName').val()
        });
      });
      socket.on('tabCreated', function() {
        window.location.href = 'http://localhost:3000/' + $('#tabName').val();
      });
    </script>
  </body>
</html>