<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyCMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script src="jquery-3.3.1.min.js"></script>
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/content-tools.min.css">
    <style>
      .navbar {
        background-color: coral;
      }
    </style>
  </head>
  <body>
    <script src="assets/content-tools.js"></script>
    <script src="assets/editor.js"></script>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item">
          <strong>PUBLISH</strong>
        </a>
        <button class="button navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>
    <section class="section">
      <div data-editable="" data-name="header" class="container">
        <h1 class="title" id="title">
          EasCMS
        </h1>
        <p class="subtitle">
          Create your
          <i>awesome</i> website with <strong>EasyCMS</strong>!
        </p>
      </div>
    </section>
    <div data-editable="" data-name="main-text" class="container">
      <p>
        Lorem
        <i>ipsum</i> dolor sit amet, consectetur adipiscing elit. Cras faucibus ante a libero hendrerit imperdiet. Etiam eu malesuada ex, quis hendrerit odio. Quisque venenatis, lorem ut tincidunt accumsan, turpis neque fermentum augue, at auctor diam mi
        in dolor. Aenean et
      </p>
      <table>
        <thead>
          <tr>
            <th>
              hola
            </th>
            <th>
              dw
            </th>
            <th>
              d
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              dw
            </td>
            <td>
              d
            </td>
            <td>
              d
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>
              wd
            </td>
            <td>
              dw
            </td>
            <td>
              wd ola
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
</html>