<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyCMS</title>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/content-tools.css">
    <link rel="stylesheet" type="text/css" href="assets/editor.css">
    <style type="text/css">
      html,
      body {
        font-family: 'Work Sans', sans-serif;
      }
      #toolbar {
        background-color: coral;
      }
      #navbar {
        background-color: #03A9F4;
      }
    </style>
  </head>
  <body>
    <section class="hero is-fullheight is-default is-bold">
      <div class="hero-head">
        <nav class="navbar" id="toolbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item">
              <strong>PUBLISH</strong>
            </a>
            <a class="navbar-item">
              <strong>NEW PAGE</strong>
            </a>
            <button class="button navbar-burger">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
          <div class="navbar-end toolbar">
            <a custom-tool="bold" class="navbar-item custom-bold"></a>
            <a custom-tool="italic" class="navbar-item custom-italic"></a>
            <a custom-tool="link" class="navbar-item custom-link"></a>
            <a custom-tool="heading" class="navbar-item custom-heading"></a>
            <a custom-tool="subheading" class="navbar-item custom-subheading"></a>
            <a custom-tool="paragraph" class="navbar-item custom-paragraph"></a>
          </div>
        </nav>
        <nav class="navbar">
          <div data-editable="" data-name="nav" class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="#">
                <strong>EasyCMS</strong>
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
              <span></span>
              <span></span>
              </span>
            </div>
            <div class="navbar-menu" id="navbarMenu">
              <div class="navbar-end">
                <a class="navbar-item is-active">
                  Home
                </a>
                <a class="navbar-item">
                  Examples
                </a>
                <a class="navbar-item">
                  Features
                </a>
                <a class="navbar-item">
                  Team
                </a>
                <a class="navbar-item">
                  Help
                </a>
              </div>
            </div>
            <p>
            </p>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div data-editable="" data-name="header" class="container">
          <img alt="Change me!" class="align-left" data-ce-max-width="600" height="106" src="https://res.cloudinary.com/easycms/image/upload/v1518665576/e2ijochymhbnyesjoegv.png" width="106">
          <h1 id="drag-and-place-content">
            <strong>Lorem Ipsum</strong>&nbsp;es simplemente el texto de relleno de las
            <i>imprentas</i> y archivos de texto.
            <b>Lorem Ipsum</b> ha sido el texto de relleno estándar de las industrias desde el año
            <b>1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un li</b>bro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó
            <b>como</b> texto de relleno en documentos electrónicos, quedando esencialmente igual
          </h1>
          <img alt="Change me!" class="align-right" data-ce-max-width="600" height="340" src="https://res.cloudinary.com/easycms/image/upload/v1518665821/ibvx6lrkviw8ttparnou.gif" width="340">
          <p>
            <strong>Lorem Ipsum</strong>&nbsp;es simplemente el texto de relleno de las imp
            <i>rentas y arc</i>hivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un
            <a href="http://google.com">impresor</a> (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló
            <b>de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente
              <i>igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", la</i>
            </b>
            <i>s cuales contenian pasajes de Lorem Ipsum, y más r</i>ecientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
          </p>
          <h2>
            ¿Por qué lo usamos?
          </h2>
          <p>
            Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribu
            <b>ción má</b>s o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí,
            <i>contenido</i> aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado
            muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas versiones han evolucionado a través
          </p>
        </div>
      </div>
      <div class="hero-foot">
        <div data-editable="" data-name="footer" class="container">
          <div class="tabs is-centered">
            <ul>
              <li>
                <a>I'm a footer! Change me!</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <script src="assets/content-tools.js"></script>
    <script src="assets/editor.js"></script>
  </body>
</html>