<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyCMS</title>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/content-tools.min.css">
    <link rel="stylesheet" type="text/css" href="assets/editor.css">
    <style type="text/css">
      html,
      body {
        font-family: 'Work Sans', sans-serif;
      }
      #toolbar {
        background-color: coral;
      }
      #navbar {
        background-color: #03A9F4;
      }
    </style>
  </head>
  <body>
    <section class="hero is-fullheight is-default is-bold">
      <div class="hero-head">
        <nav class="navbar" id="toolbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item">
              <strong>PUBLISH</strong>
            </a>
            <a class="navbar-item">
              <strong>NEW PAGE</strong>
            </a>
            <a class="navbar-item" id="setBold">
              <strong>BOLD</strong>
            </a>
            <button class="button navbar-burger">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </nav>
        <nav class="navbar">
          <div data-editable="" data-name="nav" class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="#">
                <strong>EasyCMS</strong>
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
              <span></span>
              <span></span>
              </span>
            </div>
            <div class="navbar-menu" id="navbarMenu">
              <div class="navbar-end">
                <a class="navbar-item is-active">
                  Home
                </a>
                <a class="navbar-item">
                  Examples
                </a>
                <a class="navbar-item">
                  Features
                </a>
                <a class="navbar-item">
                  Team
                </a>
                <a class="navbar-item">
                  Help
                </a>
              </div>
            </div>
            <p>
            </p>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div data-editable="" data-name="header" class="container">
          <h3 class="has-text-centered" id="drag-and-place-content">
            Other than typing, there are two ways to add new
            <b>content</b> to the
            <b>page</b>;
            <b>pressing</b> the
            <b>return</b> key while editing a section of text (except pre-formatted text) or
            <b>using</b> one of the tools in the toolbox, for example to insert an image, video, table, e
          </h3>
          <img alt="Click and hold the image to drag" height="405" src="http://placehold.it/800x600" width="405">
        </div>
      </div>
      <div class="hero-foot">
        <div data-editable="" data-name="footer" class="container">
          <div class="tabs is-centered">
            <ul>
              <li>
                <a>I'm a footer! Change me!</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <script src="assets/content-tools.js"></script>
    <script src="assets/editor.js"></script>
  </body>
</html>