<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyCMS</title>
    <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/content-tools.css">
    <link rel="stylesheet" type="text/css" href="assets/editor.css">
    <style type="text/css">
      html,
      body {
        font-family: 'Work Sans', sans-serif;
      }
      #toolbar {
        background-color: coral;
      }
      #navbar {
        background-color: #03A9F4;
      }
    </style>
  </head>
  <body>
    <section class="hero is-fullheight is-default is-bold">
      <div class="hero-head">
        <nav class="navbar" id="toolbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item">
              <strong>PUBLISH</strong>
            </a>
            <a class="navbar-item">
              <strong>NEW PAGE</strong>
            </a>
            <button class="button navbar-burger">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
          <div class="navbar-end toolbar">
            <a custom-tool="bold" class="navbar-item custom-bold"></a>
            <a custom-tool="italic" class="navbar-item custom-italic"></a>
            <a custom-tool="link" class="navbar-item custom-link"></a>
            <a custom-tool="heading" class="navbar-item custom-heading"></a>
            <a custom-tool="subheading" class="navbar-item custom-subheading"></a>
            <a custom-tool="paragraph" class="navbar-item custom-paragraph"></a>
          </div>
        </nav>
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="#">
                <strong>EasyCMS</strong>
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
              <span></span>
              <span></span>
              </span>
            </div>
            <div class="navbar-menu" id="navbarMenu">
              <div class="navbar-end">
                <a class="navbar-item is-active">
                  Home
                </a>
                <a class="navbar-item">
                  Examples
                </a>
                <a class="navbar-item">
                  Features
                </a>
                <a class="navbar-item">
                  Team
                </a>
                <a class="navbar-item">
                  Help
                </a>
              </div>
            </div>
            <p>
            </p>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div data-editable="" data-name="header" class="container">
          <img alt="Change me!" class="align-right" data-ce-max-width="600" height="384" src="https://res.cloudinary.com/easycms/image/upload/v1518665576/e2ijochymhbnyesjoegv.png" width="384">
          <h1 id="drag-and-place-content">
            <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</strong>
          </h1>
          <p>
            Sed ut perspiciatis
            <b>unde</b> omnis iste natus
            <b>error</b> sit
            <b>voluptatem</b>
            <i>accusantium</i> doloremque laudantium, totam rem aperiam, ea
            <b>que ipsa quae ab illo
              <i>inventore</i> veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
              porro quisquam est, qui dolore</b>m ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem
            ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
          </p>
          <img alt="Change me!" class="align-right" data-ce-max-width="3881" height="123" src="https://res.cloudinary.com/easycms/image/upload/v1518716097/tobscsxwzpnyal2vokqp.jpg" width="219">
          <pre>#include &lt;iostream&gt;
int main() { 
  std::cout &lt;&lt; "Hello World!";
}<br></pre></div>
      </div>
      <div class="hero-foot">
        <div class="container">
          <div class="tabs is-centered">
            <ul>
              <li>
                <a>I'm a footer!</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <script src="assets/content-tools.js"></script>
    <script src="assets/editor.js"></script>
  </body>
</html>